<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/basic}">

<body>
<div layout:fragment="content">

    <div id="relatedRes">
        <div class="card mt-3" th:each="res,iter : ${results}">
            <div class="card-header">
                Top <span th:text="${iter.count}"></span>
            </div>
            <div class="card-body">
                <h5 class="card-name" th:text="${res.name}"></h5>
                <p class="card-address">
                    Address: <span th:text="${res.address}"></span>, Pittsburgh, PA
                </p>
                <a href="#" class="btn btn-secondary">Detailed Info</a>
            </div>
        </div>
    </div>

</div>
</body>

</html>
