<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/basic}">

<body>
<div layout:fragment="content">
    <link rel="stylesheet" href="/css/searchAgain.css">

    <div class="row justify-content-center mt-3">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" action="#" th:action="@{/}" method="post" th:object="${retS}">
                <div class="card-body row no-gutters">
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search Again" th:field="*{query}">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-info" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="p-5" th:unless="${hasRes}">
        <div class="alert alert-warning" role="alert">
            Your input does not have a result, please search again!
        </div>
    </div>

    <div id="relatedRes" class="pb-5" th:if="${hasRes}">
        <div class="card mt-3" th:each="res,iter : ${results}">
            <div class="card-header">
                Top <span th:text="${iter.count}"></span>
            </div>
            <div class="card-body">
                <h5 class="card-name" th:text="${res.name}"></h5>
                <p class="card-address">
                    Address: <span th:text="${res.address}"></span>, Pittsburgh, PA
                </p>
                <a href="#" class="btn btn-secondary">Detailed Info</a>
            </div>
        </div>
    </div>

</div>
</body>

</html>
